/**
 * @selector .slds-icon_x-large
 * @restrict .slds-icon
 * @modifier
 * @group size
 */
.slds-icon_x-large {
  @include square($square-icon-x-large-boundary);
}

/**
 * @selector .slds-icon-text-casenote
 * @restrict .slds-icon
 * @modifier
 * @group color
 */
.slds-icon-text-casenote {
  fill: $color-text-casenote;
}

/**
 * @selector .slds-icon-text-sms_inbound
 * @restrict .slds-icon
 * @modifier
 * @group color
 */
.slds-icon-text-sms_inbound {
  fill: $color-text-sms-inbound;
}

/**
 * @selector .slds-icon-text-sms_outbound
 * @restrict .slds-icon
 * @modifier
 * @group color
 */
.slds-icon-text-sms_outbound {
  fill: $color-text-sms-outbound;
}

/**
 * @selector .slds-icon-text-email_inbound
 * @restrict .slds-icon
 * @modifier
 * @group color
 */
.slds-icon-text-email_inbound {
  fill: $color-text-email-inbound;
}

/**
* @selector .slds-icon-text-email_outbound
* @restrict .slds-icon
* @modifier
* @group color
*/
// Picsa
.slds-icon-text-email_outbound {
  fill: $color-text-email-outbound;
}

/**
 * @selector .slds-icon-text-cash_loan
 * @restrict .slds-icon
 * @modifier
 * @group color
 */
.slds-icon-text-cash_loan {
  fill: $color-text-cash-loan;
}

/**
 * @selector .slds-icon-text-retail_loan
 * @restrict .slds-icon
 * @modifier
 * @group color
 */
.slds-icon-text-retail_loan {
  fill: $color-text-retail-loan;
}

/**
 * @selector .slds-icon-text-consolidation_loan
 * @restrict .slds-icon
 * @modifier
 * @group color
 */
.slds-icon-text-consolidation_loan {
  fill: $color-text-consolidation-loan;
}

/**
 * @selector .slds-icon-text-shortterm_investment
 * @restrict .slds-icon
 * @modifier
 * @group color
 */
.slds-icon-text-shortterm_investment {
  fill: $color-text-shortterm-investment;
}

/**
 * @selector .slds-icon-text-longterm_investment
 * @restrict .slds-icon
 * @modifier
 * @group color
 */
.slds-icon-text-longterm_investment {
  fill: $color-text-longterm-investment;
}
